[Desktop Entry]
Version=1.1
Type=Application
Name=Qt Assistant
NoDisplay=true
Comment=Shows Qt documentation and examples
Icon=assistant
Exec=assistant
Actions=
Categories=Development;Documentation;Qt;
