/* 
 * User stylesheets
 */

/* Remove dotted lines from GTK 3 applications */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { 
	background-image: none;
}

/* Console */
VteTerminal, vte-terminal {
	padding: 7px;
}

/* Resize power indicator */
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.7) translateY(-1px);
}

/* Panel styles */
.xfce4-panel, .xfce4-panel button {
	color: #fff;
}

.xfce4-panel button {
	box-shadow: none;
}

.tasklist button:checked {
	background-color: rgba(255, 255, 255, 0.12);
}