/* 
 * Set custom stylesheets
 */
 
@import url("./mac-panel.css");

/* Remove dotted lines from GTK 3 applications */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { 
	background-image: none;
}

/* Console stylesheets */
VteTerminal, vte-terminal {
	padding: 7px;
}

/* Resize power indicator */
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.7) translateY(-1px);
}