[Desktop Entry]
Version=1.1
Type=Application
Name=Qt Linguist
NoDisplay=true
Comment=Add translations to Qt applications
Icon=linguist
Exec=linguist %F
Actions=
MimeType=text/vnd.trolltech.linguist;application/x-linguist;
Categories=Development;Qt;
