[Desktop Entry]
Version=1.1
Type=Application
Name=Qt Designer
GenericName=Interface Designer
NoDisplay=true
Comment=Design GUIs for Qt applications
Icon=QtProject-designer
Exec=designer %F
Actions=
MimeType=application/x-designer;
Categories=Development;Qt;
