[Desktop Entry]
Version=1.1
Type=Application
Name=Computer
Comment=Browse the file system
Icon=computer
OnlyShowIn=XFCE;
Exec=exo-open --launch FileManager %u
Actions=
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
StartupNotify=true
Path=
Terminal=false
