[Desktop Entry]
Version=1.1
Type=Application
Name=Clipboard Manager
NoDisplay=true
Comment=Clipboard Manager Autostart File
Icon=xfce4-clipman-plugin
OnlyShowIn=XFCE;GNOME;X-Cinnamon;
TryExec=xfce4-clipman
Exec=xfce4-clipman
Actions=
Categories=GTK;TrayIcon;Utility;
