[Desktop Entry]
Version=1.1
Type=Application
Name=Qt QDBusViewer 
GenericName=D-Bus Debugger
NoDisplay=true
Comment=Debug D-Bus applications
Icon=qdbusviewer
Exec=qdbusviewer
Actions=
Categories=Debugger;Development;Qt;
