/* 
 * User stylesheets
 */

/* Remove dotted lines from GTK 3 applications */
undershoot.top, undershoot.right, undershoot.bottom, undershoot.left { 
	background-image: none;
}

/* Console */
VteTerminal, vte-terminal {
	padding: 7px;
}

/* Resize power indicator */
#xfce4-power-manager-plugin image {
	-gtk-icon-transform: scale(0.7) translateY(-1px);
}

/* Panel */
.xfce4-panel {
	font-weight: 700;
}

/* Bottom panel */
.xfce4-panel.horizontal {
 	border-radius: 15px;
	background-color: #2e3436;
}

/* First btn */
#launcher-11 .flat, #launcher-1 .flat, #showdesktop-button {
    	border-radius: 15px;
}

.xfce4-panel .horizontal .tasklist button { 
	border-radius: 15px;
	margin: 5px;
	background-image: none;
	border: none;
	font-weight: 400;
}

.xfce4-panel .horizontal .tasklist button:active, .xfce4-panel.background .tasklist button:checked { 
	box-shadow: inset 0 -2px #277cd5;
	box-shadow: none;
	background-image: none;
	border: none;
	opacity: 0.9;
	background-color: rgba(255, 255, 255, 0.08);
}

.xfce4-panel .horizontal .tasklist button:hover, .xfce4-panel.background .tasklist button:active:hover, .xfce4-panel.background .tasklist button:checked:hover { 
	box-shadow: inset 0 -2px #277cd5;
	box-shadow: none;
	background-color: rgba(255, 255, 255, 0.08);
	opacity: 1;
}

/* Workspace switcher */
wnck-pager, wnck-pager:selected, wnck-pager:hover {
	color: #195390;
}